* {
	font-family:courier;
	text-align:center;
}

h1 {font-size: 250%; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white}
h2 {color: #808080; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black}

body {
	background-color: #007EA7;
}

#pokenews1 {
	background-color:#e6dfd7;
	border-style:inset;
}

#header li {
	display:inline;
}
#gamediv {
	float:left;
	width:75%;
}
#newsdiv {
	clear:right;
	float:right;
	width:25%;
	height:300px;
	overflow-y:scroll;
	background-color:#e6dfd7;
}

#newsdiv1 {
	clear:right;
	float:right;
	width:25%;
	height:300px;
	overflow-y:scroll;
}
.small {
	font-size:50%;
}
.right {
	float:right;
	width:25%;
}
.gameright {
	clear:right;
	float:right;
	background-color:#56ffcb;
	opacity:.90;
	width:300px;
	height:200px;
}
.gameleft {
	clear:left;
	float:left;
	background-color:#f15635;
	opacity:.25;
	border-style:inset;
	width:300px;
	height
}



