* {
	font-family:courier;
	text-align:center;
}
#header li {
	display:inline;
}
#gamediv {
	float:left;
	width:75%;
}
#newsdiv {
	clear:right;
	float:right;
	width:25%;
	height:300px;
	overflow-y:scroll;
}

#newsdiv1 {
	clear:right;
	float:right;
	width:25%;
	height:300px;
	overflow-y:scroll;
}
.small {
	font-size:50%;
}
.right {
	float:right;
	width:25%;
}